#-------#
# Latex #
#-------#

# Citation information
*.aux
# Table of contents information
*.toc
# Log
*.log
# Final output
*.pdf



#--------#
# Bibtex #
#--------#

# Generated bibliography
*.bbl
# Log
*.blg



#------#
# Misc #
#------#

# Makefile
.revisioninfo

# Vim swap file
*.swp

